* {
  margin: 0; 
  box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    background-color: aliceblue;
    color: #333;
    padding: 20px;
}

header{
    text-align: center;
    background-color: fff;
    border-radius: 12px;
    border: 2px solid #333;
}

.btn{
    padding: 20px 25px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/*FORMULARIO*/

.contacto{
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #333;
}

.form .campo{

    margin-bottom: 15px;
}

.btn-enviar{
    background-color: forestgreen;
    color: white;
}

.btn-borrar{
    background-color: red;
    color: white;
}

.btn-enviar:hover{
    background-color: yellow;
}