*{
    box-sizing: border-box;
}

body{

    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #1f1f1f;

}

.topbar{

    padding: 20px;
    background-color: #111;
    color: #fff;

}

.logo{

    height: auto;
    width: 150px;
    border-radius: 8px;

}

.header-grid{

    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center; 

}

.title h1{

    margin: 0;
    font-size: 30px;
}

.card{

    background-color: #fff;
    border-radius: 8px;
    padding: 16px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.page{

    max-width: 1100px;
    margin: 16px auto;
    padding: 0 14px;
    display: grid;

    gap: 16px;

    grid-template-columns: 1fr 2fr 1fr;

    grid-template-areas: 
    "nav  main  sidebar"
    "nav  main  widgets"
    "footer  footer  footer"
    ;


}

.nav { grid-area: nav;  }
.main { grid-area: main;  }
.sidebar { grid-area: sidebar;  }
.widgets { grid-area: widgets;  }
.footer { grid-area: footer;  }

.grid-gallery{

    margin-top: 12px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat( auto-fit, minmax(160px,1fr));
    grid-auto-rows: 110px;

}

.photo{

    background-color: #f5f5f5;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: 700;
}

.photo.big {

    background-color: red;
    grid-row: span 2;
    grid-column: span 2;
}

.photo.tall {
    grid-row: span 2;
    background-color: blue;
    
}

.photo.wide {
    grid-column: span 2;
    background-color: green;
}

.widgets-grid{

    margin-top: 12px;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(2 , 1fr);
}

@media (max-width: 900px) {
    .page{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "main main"
        "sidebar widgets"
        "footer footer";
    }
}

@media (max-width: 500px) {
    .page{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "sidebar"
        "widgets"
        "footer";
    }
}

